<%= form_with model:@user, local: true do |f| %>
  <div class="form">
    <h2 class="form__title">プロフィール編集</h2>
    <div>
      <p class="form__name"><%= f.label :フルネーム %></p>
      <%= f.text_field :name, autofocus: true, class: "form__field" %>
    </div>

    <div>
      <p class="form__name"><%= f.label :ユーザーネーム %></p>
      <%= f.text_field :nickname, autofocus: true, class: "form__field" %>
    </div>

    <div>
      <p class="form__name"><%= f.label :自己紹介 %></p>
      <%= f.text_field :introduction, autofocus: true, class: "form__field" %>
    </div>

    <div>
      <% if @user.icon? %>
        <img src=<%= user.icon %> class="icon">
      <% else %>
        <image src="/assets/default.png" class="icon" %>
      <% end %>
    </div>

    <div>
      <p class="form__name"><%= f.label :プロフィール写真 %></p>
      <%= f.file_field :icon, class: "form__field" %>
    </div>

    <div class="form__submit">
      <%= f.submit "保存する" %>
    </div>
    <%= link_to "アカウントを削除する", check_users_path %>
  </div>
<% end %>
